body {

    background-image: url("../Img/TweetBackground.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 5rem; 
}
h2 
{
    text-align: center;
}
.starter-template {
     padding: 3rem 1.5rem;
     }
#logout{ 
    display:none;
 }

 #sign_up_form 
 {
     min-height: 400px;
    background-color: lightgrey;
    border-radius: 30px;
    text-align: center;
 }
 #update_account_form 
 {
    min-height: 400px;
    background-color: lightgrey;
    border-radius: 30px;
    text-align: center;
 }
 input 
 {
    margin-left: 5%;
    max-width: 970px; 

 }
 #login_form
 {
    background-color: lightgray;
    border-radius: 30px;
    text-align: center;
    min-height: 300px;
 }